@import url("//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,400,300,700");
/* line 287, ../bower_components/foundation/scss/foundation/components/_global.scss */
meta.foundation-mq-small {
  font-family: "/only screen and (max-width: 40em)/";
  width: 0em;
}

/* line 292, ../bower_components/foundation/scss/foundation/components/_global.scss */
meta.foundation-mq-medium {
  font-family: "/only screen and (min-width:40.063em) and (max-width:64em)/";
  width: 40.063em;
}

/* line 297, ../bower_components/foundation/scss/foundation/components/_global.scss */
meta.foundation-mq-large {
  font-family: "/only screen and (min-width:64.063em)/";
  width: 64.063em;
}

/* line 302, ../bower_components/foundation/scss/foundation/components/_global.scss */
meta.foundation-mq-xlarge {
  font-family: "/only screen and (min-width:90.063em)/";
  width: 90.063em;
}

/* line 307, ../bower_components/foundation/scss/foundation/components/_global.scss */
meta.foundation-mq-xxlarge {
  font-family: "/only screen and (min-width:120.063em)/";
  width: 120.063em;
}

/* line 317, ../bower_components/foundation/scss/foundation/components/_global.scss */
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 322, ../bower_components/foundation/scss/foundation/components/_global.scss */
html,
body {
  font-size: 100%;
}

/* line 325, ../bower_components/foundation/scss/foundation/components/_global.scss */
body {
  background: white;
  color: #222222;
  padding: 0;
  margin: 0;
  font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  line-height: 1;
  position: relative;
  cursor: default;
}

/* line 338, ../bower_components/foundation/scss/foundation/components/_global.scss */
a:hover {
  cursor: pointer;
}

/* line 343, ../bower_components/foundation/scss/foundation/components/_global.scss */
img,
object,
embed {
  max-width: 100%;
  height: auto;
}

/* line 346, ../bower_components/foundation/scss/foundation/components/_global.scss */
object,
embed {
  height: 100%;
}

/* line 347, ../bower_components/foundation/scss/foundation/components/_global.scss */
img {
  -ms-interpolation-mode: bicubic;
}

/* line 353, ../bower_components/foundation/scss/foundation/components/_global.scss */
#map_canvas img,
#map_canvas embed,
#map_canvas object,
.map_canvas img,
.map_canvas embed,
.map_canvas object {
  max-width: none !important;
}

/* line 358, ../bower_components/foundation/scss/foundation/components/_global.scss */
.left {
  float: left !important;
}

/* line 359, ../bower_components/foundation/scss/foundation/components/_global.scss */
.right {
  float: right !important;
}

/* line 360, ../bower_components/foundation/scss/foundation/components/_global.scss */
.clearfix {
  *zoom: 1;
}
/* line 165, ../bower_components/foundation/scss/foundation/components/_global.scss */
.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}
/* line 166, ../bower_components/foundation/scss/foundation/components/_global.scss */
.clearfix:after {
  clear: both;
}

/* line 361, ../bower_components/foundation/scss/foundation/components/_global.scss */
.text-left {
  text-align: left !important;
}

/* line 362, ../bower_components/foundation/scss/foundation/components/_global.scss */
.text-right {
  text-align: right !important;
}

/* line 363, ../bower_components/foundation/scss/foundation/components/_global.scss */
.text-center {
  text-align: center !important;
}

/* line 364, ../bower_components/foundation/scss/foundation/components/_global.scss */
.text-justify {
  text-align: justify !important;
}

/* line 365, ../bower_components/foundation/scss/foundation/components/_global.scss */
.hide {
  display: none;
}

/* line 371, ../bower_components/foundation/scss/foundation/components/_global.scss */
.antialiased {
  -webkit-font-smoothing: antialiased;
}

/* line 374, ../bower_components/foundation/scss/foundation/components/_global.scss */
img {
  display: inline-block;
  vertical-align: middle;
}

/* line 384, ../bower_components/foundation/scss/foundation/components/_global.scss */
textarea {
  height: auto;
  min-height: 50px;
}

/* line 387, ../bower_components/foundation/scss/foundation/components/_global.scss */
select {
  width: 100%;
}

/* line 52, ../bower_components/foundation/scss/foundation/components/_keystrokes.scss */
.keystroke,
kbd {
  background-color: #ededed;
  border-color: #dbdbdb;
  color: #222222;
  border-style: solid;
  border-width: 1px;
  margin: 0;
  font-family: "Consolas", "Menlo", "Courier", monospace;
  font-size: 0.875rem;
  padding: 0.125rem 0.25rem 0;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

/* line 111, ../bower_components/foundation/scss/foundation/components/_type.scss */
p.lead {
  font-size: 1.21875rem;
  line-height: 1.6;
}

/* line 116, ../bower_components/foundation/scss/foundation/components/_type.scss */
.subheader {
  line-height: 1.4;
  color: #6f6f6f;
  font-weight: 300;
  margin-top: 0.2rem;
  margin-bottom: 0.5rem;
}

/* Typography resets */
/* line 145, ../bower_components/foundation/scss/foundation/components/_type.scss */
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
  direction: ltr;
}

/* Default Link Styles */
/* line 152, ../bower_components/foundation/scss/foundation/components/_type.scss */
a {
  color: #008cba;
  text-decoration: none;
  line-height: inherit;
}
/* line 158, ../bower_components/foundation/scss/foundation/components/_type.scss */
a:hover, a:focus {
  color: #0079a1;
}
/* line 160, ../bower_components/foundation/scss/foundation/components/_type.scss */
a img {
  border: none;
}

/* Default paragraph styles */
/* line 164, ../bower_components/foundation/scss/foundation/components/_type.scss */
p {
  font-family: inherit;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 1.25rem;
  text-rendering: optimizeLegibility;
}
/* line 174, ../bower_components/foundation/scss/foundation/components/_type.scss */
p aside {
  font-size: 0.875rem;
  line-height: 1.35;
  font-style: italic;
}

/* Default header styles */
/* line 182, ../bower_components/foundation/scss/foundation/components/_type.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: "Open Sans", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-style: normal;
  color: #222222;
  text-rendering: optimizeLegibility;
  margin-top: 0.2rem;
  margin-bottom: 0.5rem;
  line-height: 1.4;
}
/* line 192, ../bower_components/foundation/scss/foundation/components/_type.scss */
h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
  font-size: 60%;
  color: #6f6f6f;
  line-height: 0;
}

/* line 199, ../bower_components/foundation/scss/foundation/components/_type.scss */
h1 {
  font-size: 2.125rem;
}

/* line 200, ../bower_components/foundation/scss/foundation/components/_type.scss */
h2 {
  font-size: 1.6875rem;
}

/* line 201, ../bower_components/foundation/scss/foundation/components/_type.scss */
h3 {
  font-size: 1.375rem;
}

/* line 202, ../bower_components/foundation/scss/foundation/components/_type.scss */
h4 {
  font-size: 1.125rem;
}

/* line 203, ../bower_components/foundation/scss/foundation/components/_type.scss */
h5 {
  font-size: 1.125rem;
}

/* line 204, ../bower_components/foundation/scss/foundation/components/_type.scss */
h6 {
  font-size: 1rem;
}

/* line 208, ../bower_components/foundation/scss/foundation/components/_type.scss */
hr {
  border: solid #dddddd;
  border-width: 1px 0 0;
  clear: both;
  margin: 1.25rem 0 1.1875rem;
  height: 0;
}

/* Helpful Typography Defaults */
/* line 218, ../bower_components/foundation/scss/foundation/components/_type.scss */
em,
i {
  font-style: italic;
  line-height: inherit;
}

/* line 224, ../bower_components/foundation/scss/foundation/components/_type.scss */
strong,
b {
  font-weight: bold;
  line-height: inherit;
}

/* line 229, ../bower_components/foundation/scss/foundation/components/_type.scss */
small {
  font-size: 60%;
  line-height: inherit;
}

/* line 234, ../bower_components/foundation/scss/foundation/components/_type.scss */
code {
  font-family: Consolas, "Liberation Mono", Courier, monospace;
  font-weight: bold;
  color: #bb260d;
}

/* Lists */
/* line 243, ../bower_components/foundation/scss/foundation/components/_type.scss */
ul,
ol,
dl {
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 1.25rem;
  list-style-position: outside;
  font-family: inherit;
}

/* line 251, ../bower_components/foundation/scss/foundation/components/_type.scss */
ul {
  margin-left: 1.1rem;
}
/* line 253, ../bower_components/foundation/scss/foundation/components/_type.scss */
ul.no-bullet {
  margin-left: 0;
}
/* line 257, ../bower_components/foundation/scss/foundation/components/_type.scss */
ul.no-bullet li ul,
ul.no-bullet li ol {
  margin-left: 1.25rem;
  margin-bottom: 0;
  list-style: none;
}

/* Unordered Lists */
/* line 270, ../bower_components/foundation/scss/foundation/components/_type.scss */
ul li ul,
ul li ol {
  margin-left: 1.25rem;
  margin-bottom: 0;
  font-size: 1rem;
  /* Override nested font-size change */
}
/* line 279, ../bower_components/foundation/scss/foundation/components/_type.scss */
ul.square li ul, ul.circle li ul, ul.disc li ul {
  list-style: inherit;
}
/* line 282, ../bower_components/foundation/scss/foundation/components/_type.scss */
ul.square {
  list-style-type: square;
  margin-left: 1.1rem;
}
/* line 283, ../bower_components/foundation/scss/foundation/components/_type.scss */
ul.circle {
  list-style-type: circle;
  margin-left: 1.1rem;
}
/* line 284, ../bower_components/foundation/scss/foundation/components/_type.scss */
ul.disc {
  list-style-type: disc;
  margin-left: 1.1rem;
}
/* line 285, ../bower_components/foundation/scss/foundation/components/_type.scss */
ul.no-bullet {
  list-style: none;
}

/* Ordered Lists */
/* line 289, ../bower_components/foundation/scss/foundation/components/_type.scss */
ol {
  margin-left: 1.4rem;
}
/* line 293, ../bower_components/foundation/scss/foundation/components/_type.scss */
ol li ul,
ol li ol {
  margin-left: 1.25rem;
  margin-bottom: 0;
}

/* Definition Lists */
/* line 302, ../bower_components/foundation/scss/foundation/components/_type.scss */
dl dt {
  margin-bottom: 0.3rem;
  font-weight: bold;
}
/* line 306, ../bower_components/foundation/scss/foundation/components/_type.scss */
dl dd {
  margin-bottom: 0.75rem;
}

/* Abbreviations */
/* line 311, ../bower_components/foundation/scss/foundation/components/_type.scss */
abbr,
acronym {
  text-transform: uppercase;
  font-size: 90%;
  color: #222222;
  border-bottom: 1px dotted #dddddd;
  cursor: help;
}

/* line 318, ../bower_components/foundation/scss/foundation/components/_type.scss */
abbr {
  text-transform: none;
}

/* Blockquotes */
/* line 323, ../bower_components/foundation/scss/foundation/components/_type.scss */
blockquote {
  margin: 0 0 1.25rem;
  padding: 0.5625rem 1.25rem 0 1.1875rem;
  border-left: 1px solid #dddddd;
}
/* line 328, ../bower_components/foundation/scss/foundation/components/_type.scss */
blockquote cite {
  display: block;
  font-size: 0.8125rem;
  color: #555555;
}
/* line 332, ../bower_components/foundation/scss/foundation/components/_type.scss */
blockquote cite:before {
  content: "\2014 \0020";
}
/* line 337, ../bower_components/foundation/scss/foundation/components/_type.scss */
blockquote cite a,
blockquote cite a:visited {
  color: #555555;
}

/* line 343, ../bower_components/foundation/scss/foundation/components/_type.scss */
blockquote,
blockquote p {
  line-height: 1.6;
  color: #6f6f6f;
}

/* Microformats */
/* line 349, ../bower_components/foundation/scss/foundation/components/_type.scss */
.vcard {
  display: inline-block;
  margin: 0 0 1.25rem 0;
  border: 1px solid #dddddd;
  padding: 0.625rem 0.75rem;
}
/* line 355, ../bower_components/foundation/scss/foundation/components/_type.scss */
.vcard li {
  margin: 0;
  display: block;
}
/* line 359, ../bower_components/foundation/scss/foundation/components/_type.scss */
.vcard .fn {
  font-weight: bold;
  font-size: 0.9375rem;
}

/* line 366, ../bower_components/foundation/scss/foundation/components/_type.scss */
.vevent .summary {
  font-weight: bold;
}
/* line 368, ../bower_components/foundation/scss/foundation/components/_type.scss */
.vevent abbr {
  cursor: default;
  text-decoration: none;
  font-weight: bold;
  border: none;
  padding: 0 0.0625rem;
}

@media only screen and (min-width: 40.063em) {
  /* line 379, ../bower_components/foundation/scss/foundation/components/_type.scss */
  h1, h2, h3, h4, h5, h6 {
    line-height: 1.4;
  }

  /* line 380, ../bower_components/foundation/scss/foundation/components/_type.scss */
  h1 {
    font-size: 2.75rem;
  }

  /* line 381, ../bower_components/foundation/scss/foundation/components/_type.scss */
  h2 {
    font-size: 2.3125rem;
  }

  /* line 382, ../bower_components/foundation/scss/foundation/components/_type.scss */
  h3 {
    font-size: 1.6875rem;
  }

  /* line 383, ../bower_components/foundation/scss/foundation/components/_type.scss */
  h4 {
    font-size: 1.4375rem;
  }
}
/* line 77, ../bower_components/foundation/scss/foundation/components/_top-bar.scss */
meta.foundation-mq-topbar {
  font-family: "/only screen and (min-width:40.063em)/";
  width: 40.063em;
}

/* line 67, ../bower_components/foundation/scss/foundation/components/_offcanvas.scss */
.off-canvas-wrap, .inner-wrap, nav.tab-bar, .left-off-canvas-menu, .left-off-canvas-menu *, .right-off-canvas-menu, .move-right a.exit-off-canvas, .move-left a.exit-off-canvas {
  -webkit-backface-visibility: hidden;
}

/* line 73, ../bower_components/foundation/scss/foundation/components/_offcanvas.scss */
.off-canvas-wrap, .inner-wrap {
  position: relative;
  width: 100%;
}

/* line 79, ../bower_components/foundation/scss/foundation/components/_offcanvas.scss */
.left-off-canvas-menu, .right-off-canvas-menu {
  width: 250px;
  top: 0;
  bottom: 0;
  height: 100%;
  position: absolute;
  overflow-y: auto;
  background: #333333;
  z-index: 1001;
  box-sizing: content-box;
}

/* line 150, ../bower_components/foundation/scss/foundation/components/_offcanvas.scss */
section.left-small, section.right-small {
  width: 2.8125rem;
  height: 2.8125rem;
  position: absolute;
  top: 0;
}

/* line 270, ../bower_components/foundation/scss/foundation/components/_offcanvas.scss */
.off-canvas-wrap {
  overflow: hidden;
}

/* line 271, ../bower_components/foundation/scss/foundation/components/_offcanvas.scss */
.inner-wrap {
  *zoom: 1;
  -webkit-transition: -webkit-transform 500ms ease;
  -moz-transition: -moz-transform 500ms ease;
  -ms-transition: -ms-transform 500ms ease;
  -o-transition: -o-transform 500ms ease;
  transition: transform 500ms ease;
}
/* line 165, ../bower_components/foundation/scss/foundation/components/_global.scss */
.inner-wrap:before, .inner-wrap:after {
  content: " ";
  display: table;
}
/* line 166, ../bower_components/foundation/scss/foundation/components/_global.scss */
.inner-wrap:after {
  clear: both;
}

/* line 273, ../bower_components/foundation/scss/foundation/components/_offcanvas.scss */
nav.tab-bar {
  background: #333333;
  color: white;
  height: 2.8125rem;
  line-height: 2.8125rem;
  position: relative;
}
/* line 139, ../bower_components/foundation/scss/foundation/components/_offcanvas.scss */
nav.tab-bar h1, nav.tab-bar h2, nav.tab-bar h3, nav.tab-bar h4, nav.tab-bar h5, nav.tab-bar h6 {
  color: white;
  font-weight: bold;
  line-height: 2.8125rem;
  margin: 0;
}
/* line 145, ../bower_components/foundation/scss/foundation/components/_offcanvas.scss */
nav.tab-bar h1, nav.tab-bar h2, nav.tab-bar h3, nav.tab-bar h4 {
  font-size: 1.125rem;
}

/* line 275, ../bower_components/foundation/scss/foundation/components/_offcanvas.scss */
section.left-small {
  border-right: solid 1px #1a1a1a;
  box-shadow: 1px 0 0 #4d4d4d;
  left: 0;
}

/* line 276, ../bower_components/foundation/scss/foundation/components/_offcanvas.scss */
section.right-small {
  border-left: solid 1px #4d4d4d;
  box-shadow: -1px 0 0 #1a1a1a;
  right: 0;
}

/* line 278, ../bower_components/foundation/scss/foundation/components/_offcanvas.scss */
section.tab-bar-section {
  padding: 0 0.625rem;
  position: absolute;
  text-align: center;
  height: 2.8125rem;
  top: 0;
}
@media only screen and (min-width: 40.063em) {
  /* line 278, ../bower_components/foundation/scss/foundation/components/_offcanvas.scss */
  section.tab-bar-section {
    text-align: left;
  }
}
/* line 182, ../bower_components/foundation/scss/foundation/components/_offcanvas.scss */
section.tab-bar-section.left {
  left: 0;
  right: 2.8125rem;
}
/* line 186, ../bower_components/foundation/scss/foundation/components/_offcanvas.scss */
section.tab-bar-section.right {
  left: 2.8125rem;
  right: 0;
}
/* line 190, ../bower_components/foundation/scss/foundation/components/_offcanvas.scss */
section.tab-bar-section.middle {
  left: 2.8125rem;
  right: 2.8125rem;
}

/* line 282, ../bower_components/foundation/scss/foundation/components/_offcanvas.scss */
a.menu-icon {
  text-indent: 2.1875rem;
  width: 2.8125rem;
  height: 2.8125rem;
  display: block;
  line-height: 2.0625rem;
  padding: 0;
  color: white;
  position: relative;
}
/* line 293, ../bower_components/foundation/scss/foundation/components/_offcanvas.scss */
a.menu-icon span {
  position: absolute;
  display: block;
  width: 1rem;
  height: 0;
  left: 0.8125rem;
  top: 0.3125rem;
  -webkit-box-shadow: 0 10px 0 1px white, 0 16px 0 1px white, 0 22px 0 1px white;
  box-shadow: 0 10px 0 1px white, 0 16px 0 1px white, 0 22px 0 1px white;
}
/* line 313, ../bower_components/foundation/scss/foundation/components/_offcanvas.scss */
a.menu-icon:hover span {
  -webkit-box-shadow: 0 10px 0 1px #b3b3b3, 0 16px 0 1px #b3b3b3, 0 22px 0 1px #b3b3b3;
  box-shadow: 0 10px 0 1px #b3b3b3, 0 16px 0 1px #b3b3b3, 0 22px 0 1px #b3b3b3;
}

/* line 325, ../bower_components/foundation/scss/foundation/components/_offcanvas.scss */
.left-off-canvas-menu {
  -webkit-transform: translate3d(-100%, 0, 0);
  -moz-transform: translate3d(-100%, 0, 0);
  -ms-transform: translate3d(-100%, 0, 0);
  -o-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
}

/* line 326, ../bower_components/foundation/scss/foundation/components/_offcanvas.scss */
.right-off-canvas-menu {
  -webkit-transform: translate3d(100%, 0, 0);
  -moz-transform: translate3d(100%, 0, 0);
  -ms-transform: translate3d(100%, 0, 0);
  -o-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
  right: 0;
}

/* line 328, ../bower_components/foundation/scss/foundation/components/_offcanvas.scss */
ul.off-canvas-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
/* line 204, ../bower_components/foundation/scss/foundation/components/_offcanvas.scss */
ul.off-canvas-list li label {
  padding: 0.3rem 0.9375rem;
  color: #999999;
  text-transform: uppercase;
  font-weight: bold;
  background: #444444;
  border-top: 1px solid #5e5e5e;
  border-bottom: none;
  margin: 0;
}
/* line 214, ../bower_components/foundation/scss/foundation/components/_offcanvas.scss */
ul.off-canvas-list li a {
  display: block;
  padding: 0.66667rem;
  color: rgba(255, 255, 255, 0.7);
  border-bottom: 1px solid #262626;
}

/* line 334, ../bower_components/foundation/scss/foundation/components/_offcanvas.scss */
.move-right > .inner-wrap {
  -webkit-transform: translate3d(250px, 0, 0);
  -moz-transform: translate3d(250px, 0, 0);
  -ms-transform: translate3d(250px, 0, 0);
  -o-transform: translate3d(250px, 0, 0);
  transform: translate3d(250px, 0, 0);
}
/* line 337, ../bower_components/foundation/scss/foundation/components/_offcanvas.scss */
.move-right a.exit-off-canvas {
  transition: background 300ms ease;
  cursor: pointer;
  box-shadow: -4px 0 4px rgba(0, 0, 0, 0.5), 4px 0 4px rgba(0, 0, 0, 0.5);
  display: block;
  position: absolute;
  background: rgba(255, 255, 255, 0.2);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1002;
}
@media only screen and (min-width: 40.063em) {
  /* line 244, ../bower_components/foundation/scss/foundation/components/_offcanvas.scss */
  .move-right a.exit-off-canvas:hover {
    background: rgba(255, 255, 255, 0.05);
  }
}

/* line 341, ../bower_components/foundation/scss/foundation/components/_offcanvas.scss */
.move-left > .inner-wrap {
  -webkit-transform: translate3d(-250px, 0, 0);
  -moz-transform: translate3d(-250px, 0, 0);
  -ms-transform: translate3d(-250px, 0, 0);
  -o-transform: translate3d(-250px, 0, 0);
  transform: translate3d(-250px, 0, 0);
}
/* line 345, ../bower_components/foundation/scss/foundation/components/_offcanvas.scss */
.move-left a.exit-off-canvas {
  transition: background 300ms ease;
  cursor: pointer;
  box-shadow: -4px 0 4px rgba(0, 0, 0, 0.5), 4px 0 4px rgba(0, 0, 0, 0.5);
  display: block;
  position: absolute;
  background: rgba(255, 255, 255, 0.2);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1002;
}
@media only screen and (min-width: 40.063em) {
  /* line 244, ../bower_components/foundation/scss/foundation/components/_offcanvas.scss */
  .move-left a.exit-off-canvas:hover {
    background: rgba(255, 255, 255, 0.05);
  }
}

/* line 353, ../bower_components/foundation/scss/foundation/components/_offcanvas.scss */
.lt-ie10 .left-off-canvas-menu {
  left: -250px;
}
/* line 354, ../bower_components/foundation/scss/foundation/components/_offcanvas.scss */
.lt-ie10 .right-off-canvas-menu {
  right: -250px;
}
/* line 357, ../bower_components/foundation/scss/foundation/components/_offcanvas.scss */
.lt-ie10 .move-left > .inner-wrap {
  right: 250px;
}
/* line 358, ../bower_components/foundation/scss/foundation/components/_offcanvas.scss */
.lt-ie10 .move-right > .inner-wrap {
  left: 250px;
}

@font-face {
  font-family: 'icons';
  src: url("fonts/icons.eot");
  src: url("fonts/icons.eot?#iefix") format("embedded-opentype"), url("fonts/icons.woff") format("woff"), url("fonts/icons.ttf") format("truetype"), url("fonts/icons.svg#icons") format("svg");
  font-weight: normal;
  font-style: normal;
}

@-webkit-keyframes fadeIn {
  /* line 2, ../scss/core/_helpers.scss */
  from {
    -webkit-transform: translateY(100%);
    opacity: 0;
  }

  /* line 6, ../scss/core/_helpers.scss */
  to {
    -webkit-transform: translateY(0%);
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  /* line 2, ../scss/core/_helpers.scss */
  from {
    -moz-transform: translateY(100%);
    opacity: 0;
  }

  /* line 6, ../scss/core/_helpers.scss */
  to {
    -moz-transform: translateY(0%);
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  /* line 2, ../scss/core/_helpers.scss */
  from {
    -o-transform: translateY(100%);
    opacity: 0;
  }

  /* line 6, ../scss/core/_helpers.scss */
  to {
    -o-transform: translateY(0%);
    opacity: 1;
  }
}

@keyframes fadeIn {
  /* line 2, ../scss/core/_helpers.scss */
  from {
    transform: translateY(100%);
    opacity: 0;
  }

  /* line 6, ../scss/core/_helpers.scss */
  to {
    transform: translateY(0%);
    opacity: 1;
  }
}

/* line 7, ../scss/core/_layout.scss */
.sidebar__nav,
.sidebar__portrait,
.page__content,
.content-section,
.content-section__left,
.content-section__right,
.social-links {
  position: relative;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
  width: 100%;
  float: left;
}

/* line 12, ../scss/core/_layout.scss */
.sidebar {
  -webkit-transition-property: width, -webkit-transform, left;
  -moz-transition-property: width, -moz-transform, left;
  transition-property: width, transform, left;
  -webkit-transition-duration: 200ms;
  -moz-transition-duration: 200ms;
  transition-duration: 200ms;
  -webkit-transition-timing-function: ease-in-out;
  -moz-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  position: relative;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
  width: 100%;
  float: left;
  position: fixed !important;
  top: 0;
  bottom: 0;
  left: -100%;
  z-index: 1000;
}
@media only screen and (max-width: 40em) {
  /* line 24, ../scss/core/_layout.scss */
  html.csstransforms .sidebar {
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%);
    left: 0;
  }
}
@media only screen and (min-width: 40.063em) {
  /* line 12, ../scss/core/_layout.scss */
  .sidebar {
    left: 0;
  }
}
@media only screen and (min-width: 40.063em) and (max-width: 64em) {
  /* line 12, ../scss/core/_layout.scss */
  .sidebar {
    position: relative;
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
    width: 8.33333%;
    float: left;
  }
}
@media only screen and (min-width: 64.063em) {
  /* line 12, ../scss/core/_layout.scss */
  .sidebar {
    position: relative;
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
    width: 16.66667%;
    float: left;
  }
}

/* line 43, ../scss/core/_layout.scss */
.sidebar--open {
  left: 0;
}
@media only screen and (min-width: 40.063em) and (max-width: 64em) {
  /* line 43, ../scss/core/_layout.scss */
  .sidebar--open {
    position: relative;
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
    width: 41.66667%;
    float: left;
  }
}
@media only screen and (max-width: 40em) {
  /* line 43, ../scss/core/_layout.scss */
  .sidebar--open {
    position: relative;
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
    width: 75%;
    float: left;
  }
  /* line 53, ../scss/core/_layout.scss */
  html.csstransforms .sidebar--open {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
}

/* line 60, ../scss/core/_layout.scss */
.page__content {
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
}
@media only screen and (max-width: 40em) {
  /* line 60, ../scss/core/_layout.scss */
  .page__content {
    padding-top: 40px;
  }
}
@media only screen and (min-width: 40.063em) and (max-width: 64em) {
  /* line 60, ../scss/core/_layout.scss */
  .page__content {
    position: relative;
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
    width: 91.66667%;
    margin-left: 8.33333%;
    float: left;
  }
}
@media only screen and (min-width: 64.063em) {
  /* line 60, ../scss/core/_layout.scss */
  .page__content {
    position: relative;
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
    width: 83.33333%;
    margin-left: 16.66667%;
    float: left;
  }
}

/* line 77, ../scss/core/_layout.scss */
.content-section {
  padding-top: 20px;
  padding-bottom: 20px;
}
/* line 83, ../scss/core/_layout.scss */
.content-section:first-child {
  margin-top: 10px;
  padding-top: 0;
  padding-bottom: 0;
}
@media only screen and (min-width: 64.063em) {
  /* line 92, ../scss/core/_layout.scss */
  .content-section:last-child {
    padding-bottom: 40px;
  }
}

/* line 98, ../scss/core/_layout.scss */
.content-section__left {
  position: relative;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
  width: 100%;
  float: left;
}
@media only screen and (min-width: 64.063em) {
  /* line 98, ../scss/core/_layout.scss */
  .content-section__left {
    position: relative;
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
    width: 58.33333%;
    float: left;
  }
}

/* line 106, ../scss/core/_layout.scss */
.content-section__right {
  display: none;
}
@media only screen and (min-width: 64.063em) {
  /* line 106, ../scss/core/_layout.scss */
  .content-section__right {
    position: relative;
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
    width: 41.66667%;
    float: left;
    display: block;
  }
}

/* line 1, ../scss/modules/_home-title.scss */
.welcome {
  margin-top: 15%;
  margin-left: 10%;
}

/* line 6, ../scss/modules/_home-title.scss */
.welcome__line {
  -webkit-animation: fadeIn 1s;
  -moz-animation: fadeIn 1s;
  animation: fadeIn 1s;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  display: inline-block;
  width: 100%;
  opacity: 0;
}

/* line 16, ../scss/modules/_home-title.scss */
.welcome__line:nth-child(1) {
  -webkit-animation-delay: 700ms;
  -moz-animation-delay: 700ms;
  animation-delay: 700ms;
}

/* line 16, ../scss/modules/_home-title.scss */
.welcome__line:nth-child(2) {
  -webkit-animation-delay: 1400ms;
  -moz-animation-delay: 1400ms;
  animation-delay: 1400ms;
}

/* line 16, ../scss/modules/_home-title.scss */
.welcome__line:nth-child(3) {
  -webkit-animation-delay: 2100ms;
  -moz-animation-delay: 2100ms;
  animation-delay: 2100ms;
}

/* line 1, ../scss/modules/_topbar.scss */
.topbar {
  position: relative;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
  width: 100%;
  float: left;
  background-color: #4e4e4e;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #4e4e4e), color-stop(50%, #5c5c5c), color-stop(100%, #4e4e4e));
  background-image: -webkit-linear-gradient(-270deg, #4e4e4e 0%, #5c5c5c 50%, #4e4e4e 100%);
  background-image: linear-gradient(0deg,#4e4e4e 0%, #5c5c5c 50%, #4e4e4e 100%);
  position: fixed;
  top: 0px;
  left: 0px;
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  transition-property: transform;
  -webkit-transition-duration: 500ms;
  -moz-transition-duration: 500ms;
  transition-duration: 500ms;
  -webkit-transition-timing-function: ease-in-out;
  -moz-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  height: 40px;
  box-shadow: 0 0 5px #000;
  z-index: 1000;
}
@media only screen and (min-width: 40.063em) {
  /* line 1, ../scss/modules/_topbar.scss */
  .topbar {
    -webkit-transition-property: opacity, -webkit-transform;
    -moz-transition-property: opacity, -moz-transform;
    transition-property: opacity, transform;
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    transform: translateY(-100%);
    opacity: 0;
    /*top: 0 - $topbar-height;*/
  }
}

/* line 20, ../scss/modules/_topbar.scss */
.topbar__toggle {
  -webkit-transition: left 200ms ease-in-out;
  -moz-transition: left 200ms ease-in-out;
  transition: left 200ms ease-in-out;
  position: absolute;
  left: 0.9375rem;
  color: #FFF;
  font-size: 24px;
  line-height: 40px;
}
/* line 27, ../scss/modules/_topbar.scss */
.topbar--open .topbar__toggle {
  left: 91.66667%;
}

/* line 3, ../scss/modules/_sidebar.scss */
.sidebar {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
  border-right: 1px solid #A2A2A2;
  background: #FFF;
}
/* line 8, ../scss/modules/_sidebar.scss */
.sidebar ul {
  list-style: none;
  margin-left: 0;
}
/* line 13, ../scss/modules/_sidebar.scss */
.sidebar span {
  display: inline;
}
@media only screen and (min-width: 40.063em) and (max-width: 64em) {
  /* line 13, ../scss/modules/_sidebar.scss */
  .sidebar span {
    display: none;
  }
}

/* line 23, ../scss/modules/_sidebar.scss */
.sidebar--open span {
  display: inline;
}

/* line 28, ../scss/modules/_sidebar.scss */
.sidebar__portrait {
  margin-top: 20px;
  height: 50px;
  background: blue;
}

/* line 34, ../scss/modules/_sidebar.scss */
.sidebar__icon {
  margin-right: 5px;
}
@media only screen and (min-width: 40.063em) and (max-width: 64em) {
  /* line 34, ../scss/modules/_sidebar.scss */
  .sidebar__icon {
    display: inline-block;
    vertical-align: baseline;
    zoom: 1;
    *display: inline;
    *vertical-align: auto;
  }
  /* line 40, ../scss/modules/_sidebar.scss */
  .sidebar--open .sidebar__icon {
    display: inline;
  }
}

/* line 46, ../scss/modules/_sidebar.scss */
.sidebar__toggle {
  position: absolute;
  top: 45%;
  right: 0px;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
  width: 50px;
  height: 50px;
  font-family: 'icons';
  background-color: #EEE;
  color: #B4B4B4;
  font-size: 50px;
  visibility: hidden;
  cursor: pointer;
  opacity: 0;
  z-index: 900;
}
/* line 62, ../scss/modules/_sidebar.scss */
.sidebar--open .sidebar__toggle:before {
  content: "\e605";
}
/* line 67, ../scss/modules/_sidebar.scss */
.sidebar__toggle:before {
  content: "\e604";
}
@media only screen and (min-width: 40.063em) and (max-width: 64em) {
  /* line 46, ../scss/modules/_sidebar.scss */
  .sidebar__toggle {
    visibility: visible;
    opacity: 1;
  }
}

/* line 78, ../scss/modules/_sidebar.scss */
.sidebar__nav ul {
  padding-top: 15px;
}
@media only screen and (min-width: 40.063em) and (max-width: 64em) {
  /* line 77, ../scss/modules/_sidebar.scss */
  .sidebar__nav {
    padding: 0;
  }
}

/* line 87, ../scss/modules/_sidebar.scss */
.sidebar__icon {
  font-family: 'icons';
  font-style: normal;
  font-size: 22px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 96, ../scss/modules/_sidebar.scss */
.sidebar__icon--home:before {
  content: "\e600";
}

/* line 102, ../scss/modules/_sidebar.scss */
.sidebar__icon--work:before {
  content: "\e601";
}

/* line 108, ../scss/modules/_sidebar.scss */
.sidebar__icon--contact:before {
  content: "\e602";
}

/* line 114, ../scss/modules/_sidebar.scss */
.sidebar__icon--employ:before {
  content: "\e603";
}

/* line 120, ../scss/modules/_sidebar.scss */
.sidebar-mask {
  position: fixed;
  top: 0px;
  right: -100%;
  -webkit-transition-property: opacity, -webkit-transform, right;
  -moz-transition-property: opacity, -moz-transform, right;
  transition-property: opacity, transform, right;
  -webkit-transition-duration: 200ms;
  -moz-transition-duration: 200ms;
  transition-duration: 200ms;
  -webkit-transition-timing-function: ease-in-out;
  -moz-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  background-color: black;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0.2)), color-stop(100%, black));
  background-image: -webkit-linear-gradient(left, rgba(255, 255, 255, 0.2), black);
  background-image: linear-gradient(to right,rgba(255, 255, 255, 0.2), black);
  width: 100%;
  height: 100%;
  z-index: 900;
  opacity: 0;
}
/* line 131, ../scss/modules/_sidebar.scss */
.sidebar--open + .sidebar-mask {
  opacity: 0.8;
  right: 0;
}
/* line 135, ../scss/modules/_sidebar.scss */
html.csstransforms .sidebar--open + .sidebar-mask {
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  transform: translateX(-100%);
  right: -100%;
}
@media only screen and (min-width: 64.063em) {
  /* line 131, ../scss/modules/_sidebar.scss */
  .sidebar--open + .sidebar-mask {
    right: -100%;
  }
  /* line 143, ../scss/modules/_sidebar.scss */
  html.csstransforms .sidebar--open + .sidebar-mask {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
}

/* line 1, ../scss/modules/_work-screenshot.scss */
.content--work__screenshot {
  border-radius: 5px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
}
