@import url("//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,400,300,700");
meta.foundation-mq-small {
  font-family: "/only screen and (max-width: 40em)/";
  width: 0em;
}

meta.foundation-mq-medium {
  font-family: "/only screen and (min-width:40.063em) and (max-width:64em)/";
  width: 40.063em;
}

meta.foundation-mq-large {
  font-family: "/only screen and (min-width:64.063em)/";
  width: 64.063em;
}

meta.foundation-mq-xlarge {
  font-family: "/only screen and (min-width:90.063em)/";
  width: 90.063em;
}

meta.foundation-mq-xxlarge {
  font-family: "/only screen and (min-width:120.063em)/";
  width: 120.063em;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  font-size: 100%;
}

body {
  background: white;
  color: #222222;
  padding: 0;
  margin: 0;
  font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  line-height: 1;
  position: relative;
  cursor: default;
}

a:hover {
  cursor: pointer;
}

img,
object,
embed {
  max-width: 100%;
  height: auto;
}

object,
embed {
  height: 100%;
}

img {
  -ms-interpolation-mode: bicubic;
}

#map_canvas img,
#map_canvas embed,
#map_canvas object,
.map_canvas img,
.map_canvas embed,
.map_canvas object {
  max-width: none !important;
}

.left {
  float: left !important;
}

.right {
  float: right !important;
}

.clearfix {
  *zoom: 1;
}
.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}

.text-left {
  text-align: left !important;
}

.text-right {
  text-align: right !important;
}

.text-center {
  text-align: center !important;
}

.text-justify {
  text-align: justify !important;
}

.hide {
  display: none;
}

.antialiased {
  -webkit-font-smoothing: antialiased;
}

img {
  display: inline-block;
  vertical-align: middle;
}

textarea {
  height: auto;
  min-height: 50px;
}

select {
  width: 100%;
}

.keystroke,
kbd {
  background-color: #ededed;
  border-color: #dbdbdb;
  color: #222222;
  border-style: solid;
  border-width: 1px;
  margin: 0;
  font-family: "Consolas", "Menlo", "Courier", monospace;
  font-size: 0.875rem;
  padding: 0.125rem 0.25rem 0;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

p.lead {
  font-size: 1.21875rem;
  line-height: 1.6;
}

.subheader {
  line-height: 1.4;
  color: #6f6f6f;
  font-weight: 300;
  margin-top: 0.2rem;
  margin-bottom: 0.5rem;
}

/* Typography resets */
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
  direction: ltr;
}

/* Default Link Styles */
a {
  color: #008cba;
  text-decoration: none;
  line-height: inherit;
}
a:hover, a:focus {
  color: #0079a1;
}
a img {
  border: none;
}

/* Default paragraph styles */
p {
  font-family: inherit;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 1.25rem;
  text-rendering: optimizeLegibility;
}
p aside {
  font-size: 0.875rem;
  line-height: 1.35;
  font-style: italic;
}

/* Default header styles */
h1, h2, h3, h4, h5, h6 {
  font-family: "Open Sans", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-style: normal;
  color: #222222;
  text-rendering: optimizeLegibility;
  margin-top: 0.2rem;
  margin-bottom: 0.5rem;
  line-height: 1.4;
}
h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
  font-size: 60%;
  color: #6f6f6f;
  line-height: 0;
}

h1 {
  font-size: 2.125rem;
}

h2 {
  font-size: 1.6875rem;
}

h3 {
  font-size: 1.375rem;
}

h4 {
  font-size: 1.125rem;
}

h5 {
  font-size: 1.125rem;
}

h6 {
  font-size: 1rem;
}

hr {
  border: solid #dddddd;
  border-width: 1px 0 0;
  clear: both;
  margin: 1.25rem 0 1.1875rem;
  height: 0;
}

/* Helpful Typography Defaults */
em,
i {
  font-style: italic;
  line-height: inherit;
}

strong,
b {
  font-weight: bold;
  line-height: inherit;
}

small {
  font-size: 60%;
  line-height: inherit;
}

code {
  font-family: Consolas, "Liberation Mono", Courier, monospace;
  font-weight: bold;
  color: #bb260d;
}

/* Lists */
ul,
ol,
dl {
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 1.25rem;
  list-style-position: outside;
  font-family: inherit;
}

ul {
  margin-left: 1.1rem;
}
ul.no-bullet {
  margin-left: 0;
}
ul.no-bullet li ul,
ul.no-bullet li ol {
  margin-left: 1.25rem;
  margin-bottom: 0;
  list-style: none;
}

/* Unordered Lists */
ul li ul,
ul li ol {
  margin-left: 1.25rem;
  margin-bottom: 0;
  font-size: 1rem;
  /* Override nested font-size change */
}
ul.square li ul, ul.circle li ul, ul.disc li ul {
  list-style: inherit;
}
ul.square {
  list-style-type: square;
  margin-left: 1.1rem;
}
ul.circle {
  list-style-type: circle;
  margin-left: 1.1rem;
}
ul.disc {
  list-style-type: disc;
  margin-left: 1.1rem;
}
ul.no-bullet {
  list-style: none;
}

/* Ordered Lists */
ol {
  margin-left: 1.4rem;
}
ol li ul,
ol li ol {
  margin-left: 1.25rem;
  margin-bottom: 0;
}

/* Definition Lists */
dl dt {
  margin-bottom: 0.3rem;
  font-weight: bold;
}
dl dd {
  margin-bottom: 0.75rem;
}

/* Abbreviations */
abbr,
acronym {
  text-transform: uppercase;
  font-size: 90%;
  color: #222222;
  border-bottom: 1px dotted #dddddd;
  cursor: help;
}

abbr {
  text-transform: none;
}

/* Blockquotes */
blockquote {
  margin: 0 0 1.25rem;
  padding: 0.5625rem 1.25rem 0 1.1875rem;
  border-left: 1px solid #dddddd;
}
blockquote cite {
  display: block;
  font-size: 0.8125rem;
  color: #555555;
}
blockquote cite:before {
  content: "\2014 \0020";
}
blockquote cite a,
blockquote cite a:visited {
  color: #555555;
}

blockquote,
blockquote p {
  line-height: 1.6;
  color: #6f6f6f;
}

/* Microformats */
.vcard {
  display: inline-block;
  margin: 0 0 1.25rem 0;
  border: 1px solid #dddddd;
  padding: 0.625rem 0.75rem;
}
.vcard li {
  margin: 0;
  display: block;
}
.vcard .fn {
  font-weight: bold;
  font-size: 0.9375rem;
}

.vevent .summary {
  font-weight: bold;
}
.vevent abbr {
  cursor: default;
  text-decoration: none;
  font-weight: bold;
  border: none;
  padding: 0 0.0625rem;
}

@media only screen and (min-width: 40.063em) {
  h1, h2, h3, h4, h5, h6 {
    line-height: 1.4;
  }

  h1 {
    font-size: 2.75rem;
  }

  h2 {
    font-size: 2.3125rem;
  }

  h3 {
    font-size: 1.6875rem;
  }

  h4 {
    font-size: 1.4375rem;
  }
}
meta.foundation-mq-topbar {
  font-family: "/only screen and (min-width:40.063em)/";
  width: 40.063em;
}

.off-canvas-wrap, .inner-wrap, nav.tab-bar, .left-off-canvas-menu, .left-off-canvas-menu *, .right-off-canvas-menu, .move-right a.exit-off-canvas, .move-left a.exit-off-canvas {
  -webkit-backface-visibility: hidden;
}

.off-canvas-wrap, .inner-wrap {
  position: relative;
  width: 100%;
}

.left-off-canvas-menu, .right-off-canvas-menu {
  width: 250px;
  top: 0;
  bottom: 0;
  height: 100%;
  position: absolute;
  overflow-y: auto;
  background: #333333;
  z-index: 1001;
  box-sizing: content-box;
}

section.left-small, section.right-small {
  width: 2.8125rem;
  height: 2.8125rem;
  position: absolute;
  top: 0;
}

.off-canvas-wrap {
  overflow: hidden;
}

.inner-wrap {
  *zoom: 1;
  -webkit-transition: -webkit-transform 500ms ease;
  -moz-transition: -moz-transform 500ms ease;
  -ms-transition: -ms-transform 500ms ease;
  -o-transition: -o-transform 500ms ease;
  transition: transform 500ms ease;
}
.inner-wrap:before, .inner-wrap:after {
  content: " ";
  display: table;
}
.inner-wrap:after {
  clear: both;
}

nav.tab-bar {
  background: #333333;
  color: white;
  height: 2.8125rem;
  line-height: 2.8125rem;
  position: relative;
}
nav.tab-bar h1, nav.tab-bar h2, nav.tab-bar h3, nav.tab-bar h4, nav.tab-bar h5, nav.tab-bar h6 {
  color: white;
  font-weight: bold;
  line-height: 2.8125rem;
  margin: 0;
}
nav.tab-bar h1, nav.tab-bar h2, nav.tab-bar h3, nav.tab-bar h4 {
  font-size: 1.125rem;
}

section.left-small {
  border-right: solid 1px #1a1a1a;
  box-shadow: 1px 0 0 #4d4d4d;
  left: 0;
}

section.right-small {
  border-left: solid 1px #4d4d4d;
  box-shadow: -1px 0 0 #1a1a1a;
  right: 0;
}

section.tab-bar-section {
  padding: 0 0.625rem;
  position: absolute;
  text-align: center;
  height: 2.8125rem;
  top: 0;
}
@media only screen and (min-width: 40.063em) {
  section.tab-bar-section {
    text-align: left;
  }
}
section.tab-bar-section.left {
  left: 0;
  right: 2.8125rem;
}
section.tab-bar-section.right {
  left: 2.8125rem;
  right: 0;
}
section.tab-bar-section.middle {
  left: 2.8125rem;
  right: 2.8125rem;
}

a.menu-icon {
  text-indent: 2.1875rem;
  width: 2.8125rem;
  height: 2.8125rem;
  display: block;
  line-height: 2.0625rem;
  padding: 0;
  color: white;
  position: relative;
}
a.menu-icon span {
  position: absolute;
  display: block;
  width: 1rem;
  height: 0;
  left: 0.8125rem;
  top: 0.3125rem;
  -webkit-box-shadow: 0 10px 0 1px white, 0 16px 0 1px white, 0 22px 0 1px white;
  box-shadow: 0 10px 0 1px white, 0 16px 0 1px white, 0 22px 0 1px white;
}
a.menu-icon:hover span {
  -webkit-box-shadow: 0 10px 0 1px #b3b3b3, 0 16px 0 1px #b3b3b3, 0 22px 0 1px #b3b3b3;
  box-shadow: 0 10px 0 1px #b3b3b3, 0 16px 0 1px #b3b3b3, 0 22px 0 1px #b3b3b3;
}

.left-off-canvas-menu {
  -webkit-transform: translate3d(-100%, 0, 0);
  -moz-transform: translate3d(-100%, 0, 0);
  -ms-transform: translate3d(-100%, 0, 0);
  -o-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
}

.right-off-canvas-menu {
  -webkit-transform: translate3d(100%, 0, 0);
  -moz-transform: translate3d(100%, 0, 0);
  -ms-transform: translate3d(100%, 0, 0);
  -o-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
  right: 0;
}

ul.off-canvas-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
ul.off-canvas-list li label {
  padding: 0.3rem 0.9375rem;
  color: #999999;
  text-transform: uppercase;
  font-weight: bold;
  background: #444444;
  border-top: 1px solid #5e5e5e;
  border-bottom: none;
  margin: 0;
}
ul.off-canvas-list li a {
  display: block;
  padding: 0.66667rem;
  color: rgba(255, 255, 255, 0.7);
  border-bottom: 1px solid #262626;
}

.move-right > .inner-wrap {
  -webkit-transform: translate3d(250px, 0, 0);
  -moz-transform: translate3d(250px, 0, 0);
  -ms-transform: translate3d(250px, 0, 0);
  -o-transform: translate3d(250px, 0, 0);
  transform: translate3d(250px, 0, 0);
}
.move-right a.exit-off-canvas {
  transition: background 300ms ease;
  cursor: pointer;
  box-shadow: -4px 0 4px rgba(0, 0, 0, 0.5), 4px 0 4px rgba(0, 0, 0, 0.5);
  display: block;
  position: absolute;
  background: rgba(255, 255, 255, 0.2);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1002;
}
@media only screen and (min-width: 40.063em) {
  .move-right a.exit-off-canvas:hover {
    background: rgba(255, 255, 255, 0.05);
  }
}

.move-left > .inner-wrap {
  -webkit-transform: translate3d(-250px, 0, 0);
  -moz-transform: translate3d(-250px, 0, 0);
  -ms-transform: translate3d(-250px, 0, 0);
  -o-transform: translate3d(-250px, 0, 0);
  transform: translate3d(-250px, 0, 0);
}
.move-left a.exit-off-canvas {
  transition: background 300ms ease;
  cursor: pointer;
  box-shadow: -4px 0 4px rgba(0, 0, 0, 0.5), 4px 0 4px rgba(0, 0, 0, 0.5);
  display: block;
  position: absolute;
  background: rgba(255, 255, 255, 0.2);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1002;
}
@media only screen and (min-width: 40.063em) {
  .move-left a.exit-off-canvas:hover {
    background: rgba(255, 255, 255, 0.05);
  }
}

.lt-ie10 .left-off-canvas-menu {
  left: -250px;
}
.lt-ie10 .right-off-canvas-menu {
  right: -250px;
}
.lt-ie10 .move-left > .inner-wrap {
  right: 250px;
}
.lt-ie10 .move-right > .inner-wrap {
  left: 250px;
}

@font-face {
  font-family: 'icons';
  src: url("fonts/icons.eot");
  src: url("fonts/icons.eot?#iefix") format("embedded-opentype"), url("fonts/icons.woff") format("woff"), url("fonts/icons.ttf") format("truetype"), url("fonts/icons.svg#icons") format("svg");
  font-weight: normal;
  font-style: normal;
}

.sidebar__nav,
.sidebar__portrait,
.page__content,
.content-section,
.content-section__left,
.content-section__right,
.social-links {
  position: relative;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
  width: 100%;
  float: left;
}

.sidebar {
  -webkit-transition-property: width, -webkit-transform, left;
  -moz-transition-property: width, -moz-transform, left;
  transition-property: width, transform, left;
  -webkit-transition-duration: 200ms;
  -moz-transition-duration: 200ms;
  transition-duration: 200ms;
  -webkit-transition-timing-function: ease-in-out;
  -moz-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  position: relative;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
  width: 100%;
  float: left;
  position: fixed !important;
  top: 0;
  bottom: 0;
  left: -100%;
  z-index: 1000;
}
@media only screen and (max-width: 40em) {
  html.csstransforms .sidebar {
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%);
    left: 0;
  }
}
@media only screen and (min-width: 40.063em) {
  .sidebar {
    left: 0;
  }
}
@media only screen and (min-width: 40.063em) and (max-width: 64em) {
  .sidebar {
    position: relative;
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
    width: 8.33333%;
    float: left;
  }
}
@media only screen and (min-width: 64.063em) {
  .sidebar {
    position: relative;
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
    width: 16.66667%;
    float: left;
  }
}

.sidebar--open {
  left: 0;
}
@media only screen and (min-width: 40.063em) and (max-width: 64em) {
  .sidebar--open {
    position: relative;
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
    width: 41.66667%;
    float: left;
  }
}
@media only screen and (max-width: 40em) {
  .sidebar--open {
    position: relative;
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
    width: 75%;
    float: left;
  }
  html.csstransforms .sidebar--open {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
}

.page__content {
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
}
@media only screen and (max-width: 40em) {
  .page__content {
    padding-top: 40px;
  }
}
@media only screen and (min-width: 40.063em) and (max-width: 64em) {
  .page__content {
    position: relative;
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
    width: 91.66667%;
    margin-left: 8.33333%;
    float: left;
  }
}
@media only screen and (min-width: 64.063em) {
  .page__content {
    position: relative;
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
    width: 83.33333%;
    margin-left: 16.66667%;
    float: left;
  }
}

.content-section {
  padding-top: 20px;
  padding-bottom: 20px;
}
.content-section:first-child {
  margin-top: 10px;
  padding-top: 0;
  padding-bottom: 0;
}
.content-section:last-child {
  padding-bottom: 40px;
}

@media only screen and (min-width: 40.063em) {
  .content-section__left {
    position: relative;
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
    width: 58.33333%;
    float: left;
  }
}

@media only screen and (min-width: 40.063em) {
  .content-section__right {
    position: relative;
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
    width: 41.66667%;
    float: left;
    margin-top: 60px;
  }
}

.topbar {
  position: relative;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
  width: 100%;
  float: left;
  background-color: #4e4e4e;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #4e4e4e), color-stop(50%, #5c5c5c), color-stop(100%, #4e4e4e));
  background-image: -webkit-linear-gradient(-270deg, #4e4e4e 0%, #5c5c5c 50%, #4e4e4e 100%);
  background-image: linear-gradient(0deg,#4e4e4e 0%, #5c5c5c 50%, #4e4e4e 100%);
  position: fixed;
  top: 0px;
  left: 0px;
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  transition-property: transform;
  -webkit-transition-duration: 500ms;
  -moz-transition-duration: 500ms;
  transition-duration: 500ms;
  -webkit-transition-timing-function: ease-in-out;
  -moz-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  height: 40px;
  box-shadow: 0 0 5px #000;
  z-index: 1000;
}
@media only screen and (min-width: 40.063em) {
  .topbar {
    -webkit-transition-property: opacity, -webkit-transform;
    -moz-transition-property: opacity, -moz-transform;
    transition-property: opacity, transform;
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    transform: translateY(-100%);
    opacity: 0;
    /*top: 0 - $topbar-height;*/
  }
}

.topbar__toggle {
  -webkit-transition: left 200ms ease-in-out;
  -moz-transition: left 200ms ease-in-out;
  transition: left 200ms ease-in-out;
  position: absolute;
  left: 0.9375rem;
  color: #FFF;
  font-size: 24px;
  line-height: 40px;
}
.topbar--open .topbar__toggle {
  left: 91.66667%;
}

.sidebar {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
  border-right: 1px solid #A2A2A2;
  background: #FFF;
}
.sidebar ul {
  list-style: none;
  margin-left: 0;
}
.sidebar span {
  display: inline;
}
@media only screen and (min-width: 40.063em) and (max-width: 64em) {
  .sidebar span {
    display: none;
  }
}

.sidebar--open span {
  display: inline;
}

.sidebar__portrait {
  margin-top: 20px;
  height: 50px;
  background: blue;
}

.sidebar__icon {
  margin-right: 5px;
}
@media only screen and (min-width: 40.063em) and (max-width: 64em) {
  .sidebar__icon {
    display: inline-block;
    vertical-align: baseline;
    zoom: 1;
    *display: inline;
    *vertical-align: auto;
  }
  .sidebar--open .sidebar__icon {
    display: inline;
  }
}

.sidebar__toggle {
  position: absolute;
  top: 45%;
  right: 0px;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
  width: 50px;
  height: 50px;
  background: blue;
  border: 1px solid black;
  visibility: hidden;
  opacity: 0;
  z-index: 900;
}
.sidebar--open .sidebar__toggle {
  background: red;
}
@media only screen and (min-width: 40.063em) and (max-width: 64em) {
  .sidebar__toggle {
    visibility: visible;
    opacity: 1;
  }
}

.sidebar__nav ul {
  padding-top: 15px;
}
@media only screen and (min-width: 40.063em) and (max-width: 64em) {
  .sidebar__nav {
    padding: 0;
  }
}

.sidebar__icon {
  font-family: 'icons';
  font-style: normal;
  font-size: 22px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.sidebar__icon--home:before {
  content: "\e600";
}

.sidebar__icon--work:before {
  content: "\e601";
}

.sidebar__icon--contact:before {
  content: "\e602";
}

.sidebar__icon--employ:before {
  content: "\e603";
}

.sidebar-mask {
  position: fixed;
  top: 0px;
  right: -100%;
  -webkit-transition-property: opacity, -webkit-transform, right;
  -moz-transition-property: opacity, -moz-transform, right;
  transition-property: opacity, transform, right;
  -webkit-transition-duration: 200ms;
  -moz-transition-duration: 200ms;
  transition-duration: 200ms;
  -webkit-transition-timing-function: ease-in-out;
  -moz-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  background-color: black;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0.2)), color-stop(100%, black));
  background-image: -webkit-linear-gradient(left, rgba(255, 255, 255, 0.2), black);
  background-image: linear-gradient(to right,rgba(255, 255, 255, 0.2), black);
  width: 100%;
  height: 100%;
  z-index: 900;
  opacity: 0;
}
.sidebar--open + .sidebar-mask {
  opacity: 0.8;
  right: 0;
}
html.csstransforms .sidebar--open + .sidebar-mask {
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  transform: translateX(-100%);
  right: -100%;
}
@media only screen and (min-width: 64.063em) {
  .sidebar--open + .sidebar-mask {
    right: -100%;
  }
  html.csstransforms .sidebar--open + .sidebar-mask {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
}

.content--work__screenshot {
  border-radius: 5px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
}

.social-links {
  position: absolute;
  bottom: 0px;
  width: 100%;
}
