// Sidebar

.sidebar ul,
.sidebar__portrait,
.page__content,
.content-section,
.content-section__left,
.content-section__right {
    @include grid-column($total-columns);
}


.sidebar {
    @include transition(all 200ms ease-in-out);
    @include grid-column($sidebar-columns-small);
    position: fixed !important; // overwrite grid-column()'s position: relative
    top: 0;
    bottom: 0;
    left: -100%;
    border-right: 1px solid black;
    background: #FFF;
    z-index: 1000;

    @media #{$small-only} {
        html.csstransforms & {
            @include transform(translateX(-100%));
            left: 0;
        }
    }

    @media #{$medium-up} {
        left: 0;
    }

    @media #{$medium-only} {
        @include grid-column($sidebar-columns-medium);
    }

    @media #{$large-up} {
        @include grid-column($sidebar-columns-largeup);
    }

    ul {
        list-style: none;
        margin-left: 0;
    }

    span {
        @media #{$medium-only} {
            display: none;
        }
    }
}

// Note: scrolling is still possible while mobile menu is open, shouldn't be
// also: doesn't display right on landscape mobiles
.sidebar--open {
    left: 0;

    @media #{$medium-only} {
        @include grid-column($sidebar-columns-medium--open);

        span {
            display: block;
        }
    }

    @media #{$small-only} {
        html.csstransforms & {
            @include transform(translateX(0));
        }
    }
}

.sidebar__portrait {
    margin-top: 20px;
    height: 50px;
    background: blue;
}

.sidebar__icon {
    display: none;

    @media #{$medium-only} {
        @include inline-block;

        .sidebar--open & {
            display: none;
        }
    }
}

.sidebar__toggle {
    $toggle-btn-width: 10px;

    @include position(absolute, 45% (0 - $toggle-btn-width) 0 0);
    @include transition(opacity 1s ease-in-out);
    @include transform(translateX(0));
    width: $toggle-btn-width;
    height: 20px;
    background: blue;
    border: 1px solid black;
    visibility: visible;
    opacity: 1;
    z-index: 900;

    .sidebar--open & {
        background: red;
    }

    @media #{$small-only} {
        .sidebar--open & {
            right: 0;
        }

        html.csstransforms .sidebar--open & {
            @include transform(translateX(-100%));
            right: 0 - $toggle-btn-width;
        }
    }

    @media #{$large-up} {
        visibility: hidden;
        opacity: 0;
    }
}

// Main content
.page__content {
    // TranslateZ stops mobile menu flickering
    @include transform(translateZ(0));

    @media #{$medium-only} {
        @include grid-column($columns: $content-columns-medium, $offset: $sidebar-columns-medium);
    }

    @media #{$large-up} {
        @include grid-column($columns: $content-columns-largeup, $offset: $sidebar-columns-largeup);
    }
}

.content-section__left {
    @media #{$medium-up} {
        @include grid-column(7);
    }
}

.content-section__right {
    @media #{$medium-up} {
        @include grid-column(4);
        margin-top: 60px;
    }
}
