.sidebar__nav,
.sidebar__portrait,
.page__content,
.content-section,
.content-section__left,
.content-section__right,
.social-links {
    @include grid-column($total-columns);
}

// Core sidebar layout. Content styling is in the sidebar module
.sidebar {
    @include transition-property(width, transform, left);
    @include transition-duration($sidebar-toggle-duration);
    @include transition-timing-function(ease-in-out);
    @include grid-column($sidebar-columns-small);
    position: fixed !important; // overwrite grid-column()'s position: relative
    top: 0;
    bottom: 0;
    left: -100%;
    z-index: 1000;

    @media #{$small-only} {
        html.csstransforms & {
            @include transform(translateX(-100%));
            left: 0;
        }
    }

    @media #{$medium-up} {
        left: 0;
    }

    @media #{$medium-only} {
        @include grid-column($sidebar-columns-medium);
    }

    @media #{$large-up} {
        @include grid-column($sidebar-columns-largeup);
    }
}

.sidebar--open {
    left: 0;

    @media #{$medium-only} {
        @include grid-column($sidebar-columns-medium--open);
    }

    @media #{$small-only} {
        @include grid-column($sidebar-columns-small--open);

        html.csstransforms & {
            @include transform(translateX(0));
        }
    }
}

// Main content
.page__content {
    // TranslateZ stops mobile menu flickering
    @include transform(translateZ(0));

    @media #{$small-only} {
        padding-top: $topbar-height;
    }

    @media #{$medium-only} {
        @include grid-column($columns: $content-columns-medium, $offset: $sidebar-columns-medium);
    }

    @media #{$large-up} {
        @include grid-column($columns: $content-columns-largeup, $offset: $sidebar-columns-largeup);
    }
}

.content-section {
    padding: {
        top: 20px;
        bottom: 20px;
    }

    &:first-child {
        margin-top: 10px;
        padding: {
            top: 0;
            bottom: 0;
        }
    }

    &:last-child {
        padding-bottom: 40px;
    }
}

.content-section__left {
    @media #{$medium-up} {
        @include grid-column(7);
    }
}

.content-section__right {
    @media #{$medium-up} {
        @include grid-column(4);
        margin-top: 60px;
    }
}
