@font-face {
    font-family: 'icons';
    src:url('fonts/icons.eot');
    src:url('fonts/icons.eot?#iefix') format('embedded-opentype'),
        url('fonts/icons.woff') format('woff'),
        url('fonts/icons.ttf') format('truetype'),
            url('fonts/icons.svg#icons') format('svg');
    font-weight: normal;
    font-style: normal;
}

$sidebar-columns-small: 12;
$sidebar-columns-small--open: 9;
$sidebar-columns-medium: 1;
$sidebar-columns-medium--open: 2;
$sidebar-columns-largeup: 2;

$content-columns-small: 12;
$content-columns-medium: $total-columns - $sidebar-columns-medium;
$content-columns-largeup: $total-columns - $sidebar-columns-largeup;

$content__left-columns-medium: 12;
$content__right-columns-medium: 0;
$content__left-columns-largeup: 5;
$content__right-columns-largeup: 6;

$sidebar__toggle-width: 50px;
$sidebar-toggle-duration: 200ms;
$topbar-height: 40px;
