$sidebar-columns-small: 12;
$sidebar-columns-small--open: 9;
$sidebar-columns-medium: 1;
$sidebar-columns-medium--open: 5;
$sidebar-columns-largeup: 2;

$content-columns-small: 12;
$content-columns-medium: $total-columns - $sidebar-columns-medium;
$content-columns-largeup: $total-columns - $sidebar-columns-largeup;

$sidebar__toggle-width: 50px;
$sidebar-toggle-duration: 200ms;
$topbar-height: 40px;
