.sidebar {
    background: #FFF;
}

.sidebar__icon {
    margin-right: 5px;

    @media #{$medium-only} {
        @include inline-block;

        .sidebar--open & {
            display: inline;
        }
    }
}

.sidebar__toggle {
    @include position(absolute, 0 0 0px 0px);
    @include transition(opacity 1s ease-in-out);
    @include transform(translateX(0));
    @include opacity(0);
    width: 100%;
    height: 50px;
    text-align: center;
    background-color: #EEE;
    font-size: 50px;
    visibility: hidden;
    cursor: pointer;
    z-index: 900;

    @media #{$medium-only} {
        @include opacity(1);
        visibility: visible;
    }
}

.sidebar__toggle__icon {
    @include position(absolute, 0px 0 0 0px);
    @include transition(opacity ($sidebar-toggle-duration * 0.75) ease-in-out);
    color: #B4B4B4;
    width: 100%;
}

.sidebar__toggle__icon--open {
    @include opacity(1);

    .sidebar--open & {
        @include opacity(0);
    }
}

.sidebar__toggle__icon--close {
    @include opacity(0);

    .sidebar--open & {
        @include opacity(1);
    }
}

.sidebar__nav {
    ul {
        padding-top: 15px;
        list-style: none;
        margin-left: 0;
    }

    li {
        margin-bottom: 10px;

        @media #{$medium-only} {
            text-align: center;
        }
    }

    span {
        display: inline;

        @media #{$medium-only} {
            display: none;
        }
    }

    @media #{$medium-only} {
        padding: 100px 0 0;
    }

    @media #{$large-up} {
        margin-top: 100px;
    }

    .sidebar--open & {
        li {
            @media #{$medium-only} {
                text-align: left;
            }
        }

        span {
            @media #{$medium-only} {
                display: inline;
            }
        }
    }
}

.sidebar__icon {
    font-family: 'icons';
    font-style: normal;
    font-size: 22px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.sidebar__icon--home {
    &:before {
        content: "\e600";
    }
}

.sidebar__icon--work {
    &:before {
        content: "\e601";
    }
}

.sidebar__icon--contact {
    &:before {
        content: "\e602";
    }
}

.sidebar__icon--employ {
    &:before {
        content: "\e603";
    }
}

// TODO: Move me.
.sidebar-mask {
    @include position(fixed, 0px -100% 0 0);
    @include transition-property(opacity, transform, right);
    @include transition-duration($sidebar-toggle-duration);
    @include transition-timing-function(ease-in-out);
    @include linear-gradient( to right, rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 1), $fallback: #000);
    @include opacity(0);
    width: 100%;
    height: 100%;
    z-index: 900;

    .sidebar--open + & {
        @include opacity(0.8);
        right: 0;

        html.csstransforms & {
            @include transform(translateX(-100%));
            right: -100%;
        }

        @media #{$large-up} {
            right: -100%;

            html.csstransforms & {
                @include transform(translateX(0));
            }
        }
    }
}
