.topbar {
    @include grid-column(12); 
    @include linear-gradient(0deg, #4E4E4E 0%, #5C5C5C 50%, #4E4E4E 100%);
    @include position(fixed, 0px 0 0 0px);
    @include transition-property(transform);
    @include transition-duration(500ms);
    @include transition-timing-function(ease-in-out);
    @include opacity(1);
    height: $topbar-height;
    box-shadow: 0 0 5px #000;
    z-index: 1000;

    @media #{$medium-up} {
        @include transition-property(opacity, transform);
        @include opacity(0);
        top: -100%;

        html.csstransforms & {
            @include transform(translateY(-100%));
        }
    }
}

.topbar__toggle {
    @include transition(left $sidebar-toggle-duration ease-in-out);
    @include position(absolute, 0 0 0 ($column-gutter / 2)); // for transition
    color: #FFF;
    font-size: $topbar-height * 0.6;
    line-height: $topbar-height;

    .topbar--open & {
        // Transition to full width - 1col
        left: grid-calc(($content-columns-small - 1), $content-columns-small);
    }
}
